<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Report</title>
</head>
<body>
<a href="{% url 'index' %}">Back to list</a>
<p><strong>Original url:</strong> {{ object.original_url }}</p>
<p><strong>Short url</strong> {{ object.short_url }}</p>

<table>
    <thead>
        <th>Day</th>
        <th>Browser</th>
        <th>Platform</th>
        <th>Total</th>
    </thead>
    <tbody>
        {% for obj in object_list %}
        <tr>
            <td>{{ obj.day }}</td>
            <td>{{ obj.browser }}</td>
            <td>{{ obj.platform }}</td>
            <td>{{ obj.total }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>